body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pvList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid #e6e6e6;
  margin: 20px;
}

.imgCt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:black;
}

.imgCt img {
  width: 100%;
  z-index: 200;
}

.pointer {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 2em;
  z-index: 500;
}

.tooltipCt {
  position: absolute;
  width: 100%;
  z-index: 300;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.editList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.editCard {
  padding:20px;
  border: 1px solid grey;
  background-color: #fafafa;
  margin-left:5px;
  margin-bottom:5px;
}

.editImgCt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow:hidden;
  background-color: black;
  margin-bottom:5px;
}

.editImgCt img {
  width: 100%;
}

.editBtnCt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.uploadCt {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.uploadIn {
  opacity: 0;
}

.tooltipArea {
  width: 300px;
  height: 70px;
  max-height: 150px;
  resize: vertical;
}

textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.myBtn {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px  15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myBtn:hover {
	background-color:#5cbf2a;
}

.myBtn:active {
	position:relative;
	top:1px;
}

#inputImg {
  display: none;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  background-color: #44c767;
  margin: 0px 0px 10px 0px;
  padding-left: 0px;
}

.nav li {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav li a {
  color: white;
}

.nav li:hover {
  background: #00b7f5;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}
